* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11111b;
  color: #cdd6f4;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
